body {
  width: 75%;
  font-family: "Caveat", cursive;
  margin: auto;
  background-color: #d7d7d7;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__links {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__links__link {
  margin: 10px 15px 0px 15px;
  text-decoration: none;
  color: #383838;
  font-style: bold;
  font-size: 30px;
}

.header__user-links__link {
  text-decoration: none;
  background: cyan;
  border-radius: 20px; /* скругление углов */
  color: #000;
  padding: 10px 15px;
}

.header__title-link__words {
  color: #383838;
  font-size: 0;
  line-height: 1.5;
}

.header__title-link__words span {
  font-style: bold;
  font-size: 45px;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.header__title-link__words span:nth-child(2) {
  animation-delay: 0.5s;
}

.header__title-link__words span:nth-child(3) {
  animation-delay: 1s;
}

.header__title-link__words span:nth-child(4) {
  animation-delay: 1.5s;
}

.header__title-link__words span:nth-child(5) {
  animation-delay: 2s;
}

.header__title-link__words span:nth-child(6) {
  animation-delay: 2.5s;
}

.header__title-link__words span:nth-child(7) {
  animation-delay: 3s;
}
.main {
  display: flex;
}

.main__info {
  width: 50%;
  display: column;
  align-items: center;
}

.main__info__title {
  color: #383838;
  font-size: 115px;
  font-style: bold;
  margin-bottom: 0%;
  margin-top: 35px;
  line-height: 1em;
}

.main__info__secondary {
  color: #383838;
  margin-top: 0%;
  font-size: 62px;
  width: 90%;
}

.main__img {
  margin: auto;
  width: 733px;
  height: 482px;
}

.main__img__img {
  width: 733px;
  height: 482px;
}

.shortener {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
}
.shortener__img {
  width: 100%;
  border-radius: 50px;
}

.shortener__form {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.shortener__form__inputer {
  margin-left: 100px;
  margin-right: 50px;
  border-radius: 20px;
  height: 40px;
  width: 80%;
  border: 0px;
  font-family: "Caveat", cursive;
  font-size: 25px;
  margin-bottom: 3%;
}

.shortener__form__button {
  text-decoration: none;
  background: cyan;
  border-radius: 20px;
  color: #383838;
  font-family: "Caveat", cursive;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.74) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.74) inset;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.74) inset;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:active {
  -webkit-box-shadow: 0px 5px 10px 2px #d7d7d7 inset;
  -moz-box-shadow: 0px 5px 10px 2px #d7d7d7 inset;
  box-shadow: 0px 5px 10px 2px #d7d7d7 inset;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.shortener__form__button:active {
  -webkit-box-shadow: 0px 5px 10px 2px #2e0e36 inset;
  -moz-box-shadow: 0px 5px 10px 2px #2e0e36 inset;
  box-shadow: 0px 5px 10px 2px #2e0e36 inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shortener__form__text {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.info {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.info__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 0px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.cards p {
  font-size: 35px;
  margin: 0%;
}

.cards h2 {
  font-size: 45px;
  margin: 0%;
}

.cards__card {
  width: 450px;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
}

.cards__card2 {
  margin-top: 100px;
}

.cards__card3 {
  margin-top: 200px;
}

hr {
  margin-top: 165px;
  border-radius: 5px;
  width: 50px;
  border: none; /* Убираем границу */
  background-color: cyan; /* Цвет линии */
  color: cyan; /* Цвет линии для IE6-7 */
  height: 20px; /* Толщина линии */
}

.cards__line2 {
  margin-top: 270px;
}

.boost-section {
  position: relative;
  display: flex;
  justify-content: center;
}

.boost-section__img {
  margin-top: 50px;
  border-radius: 50px;
}

.boost-section__title {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.boost-section__button {
  position: absolute;
  top: 70%;
  width: 110px;
  text-decoration: none;
  background: cyan;
  border-radius: 20px;
  color: #383838;
  font-size: 25px;
  text-align: center;
}

.boost-section__button:active {
  -webkit-box-shadow: 0px 5px 10px 2px #2e0e36 inset;
  -moz-box-shadow: 0px 5px 10px 2px #2e0e36 inset;
  box-shadow: 0px 5px 10px 2px #2e0e36 inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer {
  margin-top: 10px;
  border-radius: 20px;
  background-color: #2e0e36;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 250px;
}

.footer__title {
  font-size: 60px;
  color: #fff;
}

.footer__list li {
  font-size: 20px;
  list-style-type: none;
}

.footer__list__title {
  font-size: 40px;
  margin-left: 38px;
}

.footer__list__item {
  color: #fff;
}

.footer__img {
  margin-right: 0px;
}

.shortened-links {
  display: column;
  margin-bottom: 0px;
}

.shortened-links__section {
  display: flex;
  width: 100%;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  height: 30px;
}

.shortened-links__link {
  position: absolute;
  left: 45%;
}

.shortened-links__button {
  position: absolute;
  left: 97%;
  cursor: pointer;
}

.shortened-links__tick {
  position: absolute;
  left: 95%;
}

@media screen and (max-width: 1040px) {
  body {
    width: 100%;
    align-items: center;
  }

  .page {
    padding: 0 7px 0 7px;
  }

  .header__title-link__words {
    display: flex;
    margin-top: 10px;
  }

  .header__links {
    display: none;
  }

  .main__info {
    width: 100%;
  }

  .main__info__title {
    text-align: center;
    width: 100%;
    font-size: 70px;
  }

  .main__info__secondary {
    text-align: center;
    width: 100%;
    font-size: 40px;
  }

  .main__img {
    display: none;
  }

  .shortener {
    position: relative;
  }

  .shortener__form {
    position: absolute;
  }

  .shortener__form__inputer {
    width: 98%;
    margin: auto auto;
  }

  .shortener__form__button {
    margin-top: 40px;
  }

  .shortened-links__link {
    left: 28%;
  }

  .shortened-links__button {
    left: 90%;
  }

  .shortened-links__tick {
    left: 83%;
  }

  .info__title__main {
    font-size: 60px;
  }

  .cards {
    display: grid;
  }

  .cards__card {
    width: 100%;
    height: 100%;
    margin: 0 0 30px 0;
    padding: 0 0;
  }

  hr {
    padding: 0 auto;
    margin: 0 auto;
    rotate: 90deg;
    width: 25px;
  }

  .cards__line2 {
    margin-top: 0px;
  }

  .boost-section__img {
    margin-top: 10px;
    width: 100%;
  }

  .boost-section__title {
    top: 5%;
  }

  .footer {
    width: 100%;
    display: grid;
    height: 100%;
    justify-content: center;
  }

  .footer__title {
    margin-left: 30px;
  }

  .footer__list__title {
    text-align: center;
    margin-right: 35px;
    margin-bottom: auto;
  }

  .footer__list li {
    font-size: 25px;
    margin-right: 35px;
    text-align: center;
  }

  .img {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1040px) and (max-width: 1776px) {
  body {
    width: 99%;
  }

  .main__info {
    margin: auto;
  }

  .main__info__title {
    text-align: center;
    width: 100%;
    font-size: 70px;
  }

  .main__info__secondary {
    text-align: center;
    width: 100%;
    font-size: 40px;
  }

  .main__img__img {
  }
}
